// expect: selector-list-comma-newline-after
.no, .nope {
  content: 'declaration of multiple selectors';
}

// expect: selector-class-pattern
.bad_naming {
  content: 'selector naming';
}

// expect: selector-max-id
#id-selector {
  content: 'id selects';
}

.color-value {
  content: 'color value';
  // expect: color-named
  color: hotpink;
}

.semicolon {
  // expect: declaration-block-trailing-semicolon
  content: 'semicolon'
}

.nesting {
  .child-1 {
    .child-2 {
      .child-3 {
        // expect: max-nesting-depth
        .child-4 {
          content: 'nesting that is too deep';
        }
      }
    }
  }
}

// expect: block-no-empty
.empty-block {

}

.extend-forbidden {
  // expect: at-rule-blacklist
  @extend .parent;
}

// expect: block-opening-brace-newline-after, block-closing-brace-newline-before
.new-line-after-brackets { content: 'content'; }

.float-number {
  // expect: number-leading-zero
  font-size: 0.5;
}
